header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(29, 181, 219);
}
.logo{
    font-size: 60px;
}
.logo img{
    height: 220px;
    width: 250px;
    margin-top: 30px;
    margin-left: 30px;
}
nav{
    margin: 20px;
    padding: 10px;
}
nav a{
    margin-right: 20px;
    font-size: 25px;
}
.imag img{
    width: 1400px;
    height: 400px;
}
.container{
    display: flex;
    background-color: white(88, 106, 100);
}
.img_container{
    display: flex;
    grid-template-columns: repeat(2,50%);
}
.cc{
    margin: 30px;
}
.row1{
    display: flex;
    margin: 10%;
}
.product{
    text-align: center;
    border: 1px solid rgb(145, 111, 111);
    margin: 5px;
    padding: 5px;
    border-radius: 8px;
}
.product button{
    background-color: rgb(197, 221, 213);
    padding: 15px;
    border-radius: 15px;
}
.row2{
    display: inline-flex;
    margin: 5%;
}
